body {
  background: #636363; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636363, #a2ab58); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636363, #a2ab58); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#home {
  float: right;
  margin-right: 10vh;
}

.jumbo-bg {
  background: #661108;
}
